.form {
  width: 8rem;
  max-width: 100%;
  text-align: center;
  margin-left: 1rem;
}

.form input {
  justify-content: flex-end;
  padding: 0.25rem 1rem;
  border: none;
  border-radius: 8px;
  background-color: lightgray;
}

.form .control {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.form button {
  border: none;
  padding: 0.5rem 1rem;
  font-family: inherit;
  width: 100%;
}
