.content {
  display: flex;
  flex-direction: column;
}

.content .title {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.content .actions button,
.content .actions hr {
  margin: 0.5rem 0;
}

.content .actions button {
  font-family: inherit;
  border: none;
  padding: 0.5rem 1rem;
}

.content .actions button:nth-of-type(1) {
  margin-right: 0.5rem;
}
