.wrapper {
  width: 90%;
  margin: 1rem auto;
}

.wrapper p {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.wrapper .actions {
  font-size: 1.5rem;
}

.wrapper .btn {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  font-family: inherit;
  border: none;
  padding: 0.5rem 1rem;
}

.wrapper .order {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  font-size: 1.2rem;
  font-family: inherit;
  border: none;
  padding: 0.5rem 1rem;
}
