.wrapper {
  background: #000000 url("../../assets/foody.jpg") no-repeat right top/cover;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 20rem;
  margin: 0 auto;
  padding: 1rem 0;
}

.footer h2 {
  font-size: 6rem;
}

.icons {
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    justify-content: center;
  }
  .icons {
    flex-direction: row;
  }
}
