.wrapper {
  background: url("../../assets/hero.png") no-repeat right top;
  background-size: cover;
}

.header {
  width: 90%;
  height: 60rem;
  margin: 0 auto;
  padding: 1rem 0;
}

.header h1 {
  font-size: 20rem;
  line-height: 0.85;
  margin-top: 20rem;
}

@media (max-width: 768px) {
  .header h1 {
    font-size: 12rem;
    margin-top: 15rem;
  }
  .header {
    height: 45rem;
  }
}

.header p {
  font-size: 2rem;
}

.icon:hover {
  color: var(--secondary);
}

/* Animations */

.thrust {
  animation: thrust infinite ease-in;
}

@keyframes thrust {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
