.header {
  width: 90%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
}

.header .icon:hover {
  color: var(--secondary);
}

.form {
  width: 90%;
  margin: 2rem auto;
}

.form button {
  width: 100%;
  margin-top: 2rem;
  padding: 1rem;
  background-color: var(--primary);
  border: none;
  color: #fff;
  font: inherit;
  font-size: 1.5rem;
}

.form button:disabled {
  background-color: rgba(0, 0, 0, 0.4);
}
