@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  /* Colors */
  --primary: #30323d;
  --secondary: #fdf0d5;
}

html {
  font-size: 16px;
}

body {
  font-family: "Bebas Neue", sans-serif;
  color: var(--primary);
  text-decoration: none;
}
